<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <% include ../partials/script-src %>
</head>

<body>
    <% include ../partials/navbar %>

    <div class="container-fluid">
        <img style="display:block; margin-right: auto; margin-left: auto;"
            src="https://i.ytimg.com/vi/31HniK57x4s/hqdefault.jpg">
        <h1 style="text-align:center">Dis is about page</h1>
        <p style="text-align: center">Click <a href="https://garuk.in/atta">here</a> for more entertainment</p>
    </div>

    <% include ../partials/footer %>
</body>

</html>