<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <% include ../partials/script-src %>
</head>

<body>
    <% include ../partials/navbar %>

    <div class="container-fluid">
        <h1 style="text-align:center">Sum content here pls</h1>
    </div>

    <% include ../partials/footer %>
</body>

</html>